# **Data Manipulation in R**

Data manipulation is essential for cleaning, transforming, and preparing data for analysis. In R, a common approach for data manipulation is using the `dplyr` package, which is included in the `tidyverse`. This tutorial provides examples of common data manipulation tasks using the `dplyr` package, applied to the `flights` dataset from the `nycflights13` package.s

## Loading the Packages

First, we need to load the necessary packages.

In [1]:
############################################################################################

# Load the tidyverse package, a collection of R packages for data science
library(tidyverse)

# Load the nycflights13 package, which includes the flights dataset
library(nycflights13)

print("packages loaded")

############################################################################################

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "packages loaded"

## Filtering Rows

To filter rows based on specific conditions, use the `filter()` function. For example, to find flights with a departure delay greater than 60 minutes:

In [2]:
############################################################################################

# Filtering flights with a departure delay greater than 60 minutes
filtered_flights <- filter(flights, dep_delay > 60)
head(filtered_flights)

############################################################################################

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    811      630           101       1047      830
2 2013 1     1    826      715            71       1136     1045
3 2013 1     1    848     1835           853       1001     1950
4 2013 1     1    957      733           144       1056      853
5 2013 1     1   1114      900           134       1447     1222
6 2013 1     1   1120      944            96       1331     1213
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 137       MQ      4576   N531MQ  LGA    CLT  118       544      6   30
2  51       AA       443   N3GVAA  JFK    MIA  160      1089      7   15
3 851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
4 123       UA       856   N534UA  EWR    BOS   37       200      7   33
5 145       UA      1086   N76502  LGA    IAH  248      1416      9    0
6  78       EV      4495   N16561  EWR    SAV  117       708      9   44
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 07:00:00
3 2013-01-01 18:00:00
4 2013-01-01 07:00:00
5 2013-01-01 09:00:00
6 2013-01-01 09:00:00

This command creates a new dataset, `filtered_flights`, which contains only the rows where the departure delay (`dep_delay`) is greater than 60 minutes.

**Exercise:** Using the `flights` dataset, filter for flights that were delayed by more than 2 hours on arrival. How many such flights are there? Fill in the `???` in the code below to complete the exercises.

In [3]:
############################################################################################

# Filtering flights with an arrival delay greater than 2 hours
delayed_flights <- filter(flights, arr_delay > ???)
nrow(delayed_flights)

############################################################################################

ERROR: Error in parse(text = x, srcfile = src): <text>:4:51: unexpected ')'
3: # Filtering flights with an arrival delay greater than 2 hours
4: delayed_flights <- filter(flights, arr_delay > ???)
                                                     ^

**Answer:** 123096

## Selecting Columns

To select specific columns from the dataset, use the `select()` function. For example, to select the `dep_delay` and `arr_delay` columns:

In [ ]:
############################################################################################

# Selecting the columns 'dep_delay' and 'arr_delay'
selected_columns <- select(flights, dep_delay, arr_delay)
head(selected_columns)

############################################################################################

This command creates a new dataset, `selected_columns`, which contains only the `dep_delay` and `arr_delay` columns from the original `flights` dataset.

## Creating New Columns

To create new columns, use the `mutate()` function. For example, to create a new column `total_delay` that is the sum of `dep_delay` and `arr_delay`:

In [ ]:
############################################################################################

# Creating a new column 'total_delay'
selected_columns <- mutate(selected_columns, total_delay = dep_delay + arr_delay)
head(selected_columns)

############################################################################################

This command manipulates the `selected_columns` dataset, such that it includes all the original columns plus a new column `total_delay` that contains the sum of `dep_delay` and `arr_delay` for each flight.

**Exercise:** Create a data set `selected_columns` that contains air time and departure delay. Create a new column in the `selected_columns` dataset that calculates the total fuel consumption for each flight. Assume that each minute of air time consumes 2.5 units of fuel and each minute of delay consumes an additional 0.5 units of fuel. What is the total fuel consumption for the flight in the first row?

Fill in the `???` in the code below to complete the exercise.

In [ ]:
############################################################################################
# Selecting the columns 'dep_delay' and 'arr_delay'
selected_columns <- select(flights, ???, ???)

# Creating a new column 'total_fuel_consumption'
selected_columns <- mutate(???, total_fuel_consumption = (??? * 2.5) + (??? * 0.5))
head(selected_columns)

############################################################################################

**Answer:** 568.5

## Arranging Rows

To sort the rows of the dataset, use the `arrange()` function. For example, to sort flights by departure delay in descending order:

In [ ]:
############################################################################################

# Sorting flights by departure delay in descending order
sorted_flights <- arrange(flights, desc(dep_delay))
head(sorted_flights)

############################################################################################

This command creates a new dataset, `sorted_flights`, which contains all the rows from the original `flights` dataset sorted by `dep_delay` in descending order.

**Exercise:** Arrange the `flights` dataset by departure delay in ascending order. How many minutes is the maximum early departure time? Fill in the `???` in the code below to complete the exercises.

In [ ]:
############################################################################################

# Sorting flights by departure delay in ascending order
sorted_flights <- arrange(flights, ???)
head(sorted_flights)

############################################################################################

**Answer:** 43 minutes early departure

## Dataframes vs. Matrices in R

Understanding the difference between dataframes and matrices is important for data manipulation in R. Dataframes can store different types of data in each column, while matrices can only store one type of data. For example, a dataframe can have one column with numeric data, another column with character data, and another with factor data. In contrast, a matrix can only contain one data type (e.g., all numeric or all character).

### Converting a Dataframe to a Matrix

The `flights` dataset is stored in a dataframe, and all transformations we have performed so far are for dataframes. If we were to transform the entire `flights` dataframe directly into a matrix, all variables would be converted to character variables because some variables are character strings. However, we want to work with numerical variables. Therefore, we first select the numerical variables `dep_delay`, `arr_delay`, and `air_time` and then transfer them to a matrix.

In [ ]:
############################################################################################

# Selecting a subset of the flights dataset with numerical variables
df_flights <- select(flights, dep_delay, arr_delay, air_time)

# Converting the dataframe to a matrix
mat_flights <- as.matrix(df_flights)
head(mat_flights)

############################################################################################

This command converts the dataframe `df_flights`, which contains the `dep_delay`, `arr_delay`, and `air_time` columns, into a matrix `mat_flights`. The resulting matrix retains the numerical values of these columns, making them suitable for mathematical operations.

### Basic Matrix Manipulation

#### **Accessing Elements**

You can access elements in a matrix using row and column indices in squared brackets.

In [ ]:
############################################################################################

# Accessing the element in the first row and second column
mat_flights[1, 2]

############################################################################################

This command accesses the element in the first row and second column of the matrix `mat_flights`.

**Exercise:** Access specific elements in the matrix `mat_flights`. 

1. Access the element in the second row and third column. What is the value?
2. Access the entire second column. What is the third value in this column?
3. Access the entire third row. What is the sixth value in this row

Fill in the `???` with the correct indices to access these values.

In [ ]:
# Accessing the element in the second row and third column
mat_flights[???, ???]

# Accessing the entire second column
head(mat_flights[, ???])

# Accessing the entire third row
head(mat_flights[???, ])

**Answers:**

1. 227
2. 33
3. 24

#### **Row and Column Operations**

You can perform operations on rows and columns.

In [ ]:
############################################################################################

# Calculating the row sums
row_sums <- rowSums(mat_flights, na.rm = TRUE)

# Adding the row sums as a new column to the matrix
mat_flights <- cbind(mat_flights, row_sums)

# Displaying the first few rows of the updated matrix
head(mat_flights)

############################################################################################

This command calculates the sum of each row in the matrix `mat_flights`, ignoring any missing values (NAs). The row sums are then added as a new column to the original matrix. The `head()` function displays the first few rows of the updated matrix, showing the new column with the row sums.

In [ ]:
############################################################################################

# Calculating the column means
col_means <- colMeans(mat_flights, na.rm = TRUE)
print(col_means)

############################################################################################

This command calculate the mean of each column in the matrix `mat_flights`.

#### **Matrix Arithmetic**

You can also perform arithmetic operations on matrices.

In [ ]:
############################################################################################

# Adding 10 to each element in the dep_delay column
dep_delay_add <- mat_flights[,1] + 10

# Multiplying each element in the arr_delay column by 2
arr_delay_mult <- mat_flights[,2] * 2

# Adding these new columns to the original matrix
mat_flights <- cbind(mat_flights, dep_delay_add, arr_delay_mult)

# Displaying the first few rows of the updated matrix
head(mat_flights)

############################################################################################

This command performs arithmetic operations on the matrix `mat_flights`. It adds 10 to each element in the `dep_delay` column and multiplies each element in the `arr_delay` column by 2. These new columns are then added to the original matrix.

**Exercise:** Take the matrix created in the previous exercise and perform the following operations: subtract 5 from each element in the `dep_delay` column and divide each element in the `air_time` column by 2. Add these new columns to the matrix and display the first few rows of the updated matrix. Verify that the calculations are correct. 

Fill in the `???` in the code below to complete the exercises.

In [ ]:
############################################################################################

# Subtracting 5 from each element in the dep_delay column
dep_delay_sub <- mat_flights[,1] - ???

# Dividing each element in the air_time column by 2
air_time_div <- mat_flights[,3] / ???

# Adding these new columns to the original matrix
mat_flights <- cbind(mat_flights, dep_delay_sub, air_time_div)

# Displaying the first few rows of the updated matrix
head(mat_flights)

############################################################################################